<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/dji-inspire-1.jpg');">
  <div class="banner-content">
    <h1>SKYPICTURE</h1>
    <p>Votre vue du ciel</p>
    <p><%= link_to "Contact", "contact.html.erb", class: "btn btn-primary lg" %></p>
  </div>
</div>

<div class="feature1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p><%= data.settings.site.description%></p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <%= image_tag "dji-feature.jpg", class: "img-feature"%>
      </div>
    </div>
  </div>
</div>







  <div class="img-holder" data-image="https://raw.github.com/pederan/ImageScroll/master/demo/img/autumn_season-1600x900.jpg" data-image-mobile="https://raw.github.com/pederan/ImageScroll/master/demo/img/autumn_season-800x450.jpg" data-width="1600" data-height="900"></div>

  <section>
    <p>Pid ultrices mid ultrices aliquet porttitor. Tristique est turpis lacus. Nec mid, nisi eu magnis? Phasellus? Facilisis sed urna integer in. Pulvinar! Lacus enim dapibus facilisis, sociis ut turpis habitasse nunc a egestas placerat in mattis! Turpis sed? Sit pid magna sociis vel a porttitor, enim ac! Porttitor, lorem odio a tincidunt urna scelerisque, augue. Cursus, et penatibus, ridiculus tortor.</p>

    <p>Urna sed lorem a mus duis cras mattis turpis arcu facilisis mattis tincidunt sagittis lorem, elit elit porttitor turpis? Risus purus! Mus urna tortor adipiscing dictumst, purus, sit turpis, amet mid nisi non hac in proin nunc turpis velit non mauris turpis natoque, aliquam, ac dictumst parturient lundium pulvinar est integer augue scelerisque scelerisque ultrices nascetur amet odio? Hac.</p>
  </section>

  <div class="img-holder" data-image="https://raw.github.com/pederan/ImageScroll/master/demo/img/japan_digital_nature-1680x1050.jpg" data-image-mobile="https://raw.github.com/pederan/ImageScroll/master/demo/img/japan_digital_nature-800x500.jpg" data-width="1680" data-height="1050"></div>

  <section>
    <p>Pid ultrices mid ultrices aliquet porttitor. Tristique est turpis lacus. Nec mid, nisi eu magnis? Phasellus? Facilisis sed urna integer in. Pulvinar! Lacus enim dapibus facilisis, sociis ut turpis habitasse nunc a egestas placerat in mattis! Turpis sed? Sit pid magna sociis vel a porttitor, enim ac! Porttitor, lorem odio a tincidunt urna scelerisque, augue. Cursus, et penatibus, ridiculus tortor.</p>

    <p>Urna sed lorem a mus duis cras mattis turpis arcu facilisis mattis tincidunt sagittis lorem, elit elit porttitor turpis? Risus purus! Mus urna tortor adipiscing dictumst, purus, sit turpis, amet mid nisi non hac in proin nunc turpis velit non mauris turpis natoque, aliquam, ac dictumst parturient lundium pulvinar est integer augue scelerisque scelerisque ultrices nascetur amet odio? Hac.</p>
  </section>

  <div class="img-holder" data-image="https://raw.github.com/pederan/ImageScroll/master/demo/img/german_landscapes-1600x900.jpg" data-image-mobile="https://raw.github.com/pederan/ImageScroll/master/demo/img/german_landscapes-800x450.jpg"></div>

  <section>
    <p>Pid ultrices mid ultrices aliquet porttitor. Tristique est turpis lacus. Nec mid, nisi eu magnis? Phasellus? Facilisis sed urna integer in. Pulvinar! Lacus enim dapibus facilisis, sociis ut turpis habitasse nunc a egestas placerat in mattis! Turpis sed? Sit pid magna sociis vel a porttitor, enim ac! Porttitor, lorem odio a tincidunt urna scelerisque, augue. Cursus, et penatibus, ridiculus tortor.</p>

    <p>Urna sed lorem a mus duis cras mattis turpis arcu facilisis mattis tincidunt sagittis lorem, elit elit porttitor turpis? Risus purus! Mus urna tortor adipiscing dictumst, purus, sit turpis, amet mid nisi non hac in proin nunc turpis velit non mauris turpis natoque, aliquam, ac dictumst parturient lundium pulvinar est integer augue scelerisque scelerisque ultrices nascetur amet odio? Hac.</p>
  </section>





<div class="feature2 text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag data.settings.features.feature1_img%>
        <p><%= data.settings.features.feature1_text%></p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag data.settings.features.feature2_img%>
        <p><%= data.settings.features.feature2_text%></p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag data.settings.features.feature3_img%>
        <p><%= data.settings.features.feature3_text%></p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag data.settings.features.feature4_img%>
        <p><%= data.settings.features.feature4_text%></p>
      </div>
    </div>
  </div>
</div>



<div class="vid-container">
  <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
      <source src="http://mazwai.com/system/posts/videos/000/000/109/webm/leif_eliasson--glaciartopp.webm?1410742112" type="video/webm">
  </video>
</div>
