<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/dji-inspire-1.jpg');">
  <div class="banner-content">
    <h1>SKYPICTURE</h1>
    <p>Votre vue du ciel</p>
    <p><%= link_to "Contact", "contact.html.erb", class: "btn btn-primary lg" %></p>
    <div class="feature2 text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <%= image_tag data.settings.features.feature1_img%>
        <p><%= data.settings.features.feature1_text%></p>
      </div>
      <div class="col-xs-12 col-md-4">
        <%= image_tag data.settings.features.feature2_img%>
        <p><%= data.settings.features.feature2_text%></p>
      </div>
      <div class="col-xs-12 col-md-4">
        <%= image_tag data.settings.features.feature3_img%>
        <p><%= data.settings.features.feature3_text%></p>
      </div>
    </div>
  </div>
</div>
  </div>
</div>











<div class="wrapper-video">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <iframe src="https://player.vimeo.com/video/142608531?autoplay=1&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
       <div class="col-xs-12 col-md-6">
       <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
</p>
      </div>
    </div>
  </div>
</div>












<div class="wrapper-thumb">
  <div class="container thumb">
    <figure class="snip1302">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample42.jpg" alt="sample42"/>
      <figcaption>
        <h2>Hans Down</h2>
        <div class="icons">
          <a href="#"><i class="ion-social-reddit-outline"></i></a>
          <a href="#"> <i class="ion-social-twitter-outline"></i></a>
          <a href="#"> <i class="ion-social-vimeo-outline"></i></a></div>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1302">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample55.jpg" alt="sample55"/>
      <figcaption>
        <h2>Fletch Skinner</h2>
        <div class="icons">
          <a href="#"><i class="ion-social-reddit-outline"></i></a>
          <a href="#"> <i class="ion-social-twitter-outline"></i></a>
          <a href="#"> <i class="ion-social-vimeo-outline"></i></a></div>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1302">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample52.jpg" alt="sample52"/>
      <figcaption>
        <h2>Bailey Wonger</h2>
        <div class="icons">
          <a href="#"><i class="ion-social-reddit-outline"></i></a>
          <a href="#"> <i class="ion-social-twitter-outline"></i></a>
          <a href="#"> <i class="ion-social-vimeo-outline"></i></a></div>
      </figcaption>
      <a href="#"></a>
    </figure>
  </div>
</div>

<div class="banner banner-parallax banner-parallax1 img-responsive">
  <div class="banner-filter"></div>
  <div class="banner-content-parallax text-center">
  <h1>SKYPICTURE</h1>
    <span>Domaines d'applications de nos drones</span>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3 col-sm-6">
            <i class="fa fa-film" aria-hidden="true"></i>
            <p>Audiovisuel</p>
          </div>
          <div class="col-xs-12 col-md-3 col-sm-6">
            <i class="fa fa-truck" aria-hidden="true"></i>
            <p>BTP</p>
          </div>
           <div class="col-xs-12 col-md-3 col-sm-6">
            <i class="fa fa-plane" aria-hidden="true"></i>
            <p>Viticulture</p>
          </div>
           <div class="col-xs-12 col-md-3 col-sm-6">
            <i class="fa fa-shield" aria-hidden="true"></i>
            <p>Surveillance</p>
          </div>
        </div>
    </div>
  </div>
</div>








<div class="feature1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p><%= data.settings.site.description%></p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <%= image_tag "dji-feature.jpg", class: "img-feature"%>
      </div>
    </div>
  </div>
</div>



<div class="wrapper-matos text-center">
 <p>Cadre et législation</p>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= image_tag "S1.jpg", class: "img-size" %>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= image_tag "S3.jpg", class: "img-size" %>
      </div>
    </div>
  </div>
</div>









<div class="vid-container">
<div class="contact-form">
    <div class="container">
             <form class="form-horizontal" action="https://formspree.io/contact@skypicture.fr" methode="POST">
              <div class="form-group">
                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="Your name"" ">
                  </div>
                </div>
              <div class="form-group">

                  <div class="col-xs-12">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="Subject">
                  </div>

                </div>
                <div class="form-group">

                  <div class="col-xs-12">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">

                  <div class="col-xs-12">
                    <textarea type="text" class="form-control" id="inputText" rows="5" placeholder="Contact us !"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">Send my email</button>
                  </div>
                </div>
              </form>

    </div>
</div>
  <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
      <source src="http://mazwai.com/system/posts/videos/000/000/109/webm/leif_eliasson--glaciartopp.webm?1410742112" type="video/webm">
  </video>
</div>
