<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SKYPICTURE</title>
    <meta name="description" content="<%= meta_description%>">
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:description" content="<%= meta_description%>">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- For Bootstrap responsiveness -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="#{current_page.data.description}">




    <script src="https://f.vimeocdn.com/js/froogaloop2.min.js"></script>
    <script src="//code.jquery.com/jquery-1.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.0.9/scrollreveal.min.js"></script>


    <title><%= current_page.data.title ? current_page.data.title : data.settings.site.title %></title>

    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "partial/navbar"%>

    <%= yield %>
<%= partial "partial/footer" %>
  </body>
</html>
