<div class="footer text-center">
  <h2><%= data.settings.site.title.upcase%></h2>
  <div class="settings">
    <p> <%= data.settings.author.name %></p>
    <p> <%= data.settings.author.address %></p>
    <p> <%= data.settings.author.phone %></p>
    <p> <%= data.settings.author.email %></p>
  </div>
 <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
  </ul>
</div>
