<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= image_tag "logo-drone.png", class: "logo-navbar"%>
       <%= link_to "SKYPICTURE", "/", class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapsable">
      <ul class="nav navbar-nav foo navbar-right" id="menu">
        <li>
          <%= link_to "A propos de nous","/index.html", anchor: "about"%>
        </li>
        <li>
          <%= link_to "Réalisations", "../page/realisation.html"%>
        </li>
        <li>
          <%= link_to "Tarifs","/index.html", anchor: "price"%>
        </li>
        <li>
          <%= link_to "Contact", "/index.html", anchor: "contact"%>
        </li>
      </ul>
    </div>
  </div>
</nav>



<!-- <div class="navbar-sup">
  <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
  </ul>
</div> -->
