<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/dji-inspire-1.jpg');">
  <div class="banner-content">
    <h1>SKYPICTURE</h1>
    <p>Entreprise de prise de vue aérienne par drone.</p>
    <p><%= link_to "Contact", "/index.html", anchor: "contact", class: "btn btn-primary lg" %></p>
  </div>
</div>










<div class="wrapper-video" id="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6 no-padding">
        <iframe src="https://player.vimeo.com/video/142608531?autoplay=1&title=0&byline=0&portrait=0" width="100%" height="350px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
       <div class="col-xs-12 col-md-6 no-padding">
        <div class="text-feature">
           <p>"Skypicture est une société de prise de vues aériennes basée en Provence, mettant en oeuvre des DRONES dernières générations. Nous intervenons dans les secteurs de <strong>l'immobilier, du bâtiment, de l'événementiel, du film institutionnel, de la viticulture.</strong>"
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper-photo padded text-center" style="background:#F5F5F5;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "moi.jpg", class: "avatar-xxl"%>
        <p>Cadreur professionnel</p>
         <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "chris.jpg", class: "avatar-xxl"%>
        <p>Pilote agrée DGAC</p>
         <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>





<div class="title text-center">
  <span><i>"Le meilleur de la photo-vidéo aérienne haute définition par drone."</i></span>
</div>













<div class="wrapper-thumb padded">
  <div class="container thumb">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card-figure">
        <figure class="snip1302">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample42.jpg" alt="sample42"/>
          <figcaption>
            <h2>Initiation au pilotage.</h2>
            <div class="icons">
              <a href="#"><i class="ion-social-reddit-outline"></i></a>
              <a href="#"> <i class="ion-social-twitter-outline"></i></a>
              <a href="#"> <i class="ion-social-vimeo-outline"></i></a></div>
          </figcaption>
          <a href="#"></a>
        </figure>

        </div>

      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card-figure">
        <figure class="snip1302">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample55.jpg" alt="sample55"/>
          <figcaption>
            <h2>Photo et Vidéo aérienne.</h2>
            <div class="icons">
              <a href="#"><i class="ion-social-reddit-outline"></i></a>
              <a href="#"> <i class="ion-social-twitter-outline"></i></a>
              <a href="#"> <i class="ion-social-vimeo-outline"></i></a></div>
          </figcaption>
          <a href="#"></a>
        </figure>
        </div>

      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card-figure">
        <figure class="snip1302">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample52.jpg" alt="sample52"/>
          <figcaption>
            <h2>Intitation au montage vidéo.</h2>
            <div class="icons">
              <a href="#"><i class="ion-social-reddit-outline"></i></a>
              <a href="#"> <i class="ion-social-twitter-outline"></i></a>
              <a href="#"> <i class="ion-social-vimeo-outline"></i></a></div>
          </figcaption>
          <a href="#"></a>
        </figure>
        </div>

      </div>
    </div>
  </div>
</div>







<div class="banner banner-parallax img-responsive" id="S800">
  <div class="banner-filter"></div>
  <div class="banner-content-parallax text-center">
  <h1>SKYPICTURE</h1>
    <span>Domaines d'applications de nos drones</span>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3 col-sm-6">
            <i class="fa fa-film" aria-hidden="true"></i>
            <p>Audiovisuel</p>
          </div>
          <div class="col-xs-12 col-md-3 col-sm-6">
            <i class="fa fa-truck" aria-hidden="true"></i>
            <p>BTP</p>
          </div>
           <div class="col-xs-12 col-md-3 col-sm-6">
            <i class="fa fa-plane" aria-hidden="true"></i>
            <p>Viticulture</p>
          </div>
           <div class="col-xs-12 col-md-3 col-sm-6">
            <i class="fa fa-shield" aria-hidden="true"></i>
            <p>Surveillance</p>
          </div>
        </div>
    </div>
  </div>
</div>






<div class="feature1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p><%= data.materiel.drone.inspire.camera%></p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <%= image_tag "dji-feature.jpg", class: "img-feature"%>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <%= image_tag "camera.jpg", class: "img-feature2"%>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p><%= data.materiel.drone.inspire.nacelle%></p>
        <%= link_to "En savoir plus.", "https://www.youtube.com/watch?v=ZnJcZfsVLAQ", class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>



<div class="banner banner-parallax img-responsive" id="inspire2">
  <div class="banner-filter"></div>
  <div class="banner-content-parallax text-center">
  <h1>SKYPICTURE</h1>
    <span>L'imagerie aérienne réinventée</span>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <i class="fa fa-video-camera" aria-hidden="true"></i>
            <p>4K</p>
          </div>
          <div class="col-xs-12 col-md-4">
            <i class="fa fa-picture-o" aria-hidden="true"></i>
            <p>30 images/seconde</p>
          </div>
           <div class="col-xs-12 col-md-4">
            <i class="fa fa-camera" aria-hidden="true"></i>
            <p>12M pixels</p>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="contact-form padded" id="contact">
    <div class="container">
    <p>Contactez-nous pour un devis gratuit</p>
      <form class="form-horizontal" action="https://formspree.io/contact@skypicture.fr"
            method="POST">
          <div class="form-group">
                  <div class="col-sm-12">
                    <input type="text" class="form-control" name="name" id="inputEmail3" placeholder="Your name"" ">
                  </div>
                </div>
              <div class="form-group">

                  <div class="col-xs-12">
                    <input type="text" class="form-control" name="subject" id="inputEmail3" placeholder="Subject">
                  </div>

                </div>
                <div class="form-group">

                  <div class="col-xs-12">
                    <input type="email" class="form-control" name="email" id="inputEmail3" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">

                  <div class="col-xs-12">
                    <textarea type="text" class="form-control" name="message" id="inputText" rows="10" placeholder="Contact us !"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">Send my email</button>
                  </div>
                </div>
              </form>

    </div>
</div>


<!-- <div class="vid-container">
  <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
      <source src="http://mazwai.com/system/posts/videos/000/000/109/webm/leif_eliasson--glaciartopp.webm?1410742112" type="video/webm">
  </video>
</div> -->


<%= partial "partial/map" %>
