<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/dji-inspire-1.jpg');">
  <div class="banner-content">
    <h1>SKYPICTURE</h1>
    <p>Entreprise de prise de vue aérienne par drone.</p>
    <p><%= link_to "Demandez un devis", "/index.html", anchor: "contact", class: "btn btn-primary btn-lg" %></p>
    <!-- <div class="arrow"></div> -->
    <p><%= link_to "", "/index.html", anchor: "about", class: "arrow"%></p>
  </div>
</div>










<div class="wrapper-skypicture" id="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6 no-padding">
        <iframe src="https://player.vimeo.com/video/142608531?autoplay=1&title=0&byline=0&portrait=0" width="100%" height="350px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
       <div class="col-xs-12 col-md-6 no-padding">
        <div class="text-feature">
           <p>"Skypicture est une société de prise de vues aériennes <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bs-example-modal-lg">agrée DGAC</button> basée en Provence, mettant en oeuvre des DRONES dernières générations. Nous intervenons dans les secteurs de <strong>l'immobilier, du bâtiment, de l'événementiel, du film institutionnel, de la viticulture et de la surveillance.</strong>"


            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                   <iframe src="images/map.pdf" width="800" height="600" align="middle"></iframe>
                </div>
              </div>
            </div>





          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper-photo padded text-center" style="background:#F5F5F5;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "moi.jpg", class: "avatar-xxl"%>
        <p>Cadreur professionnel</p>
        <i>"J'aime cadrer, monter et faire de belles images"</i>
         <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "chris.jpg", class: "avatar-xxl"%>
        <p>Pilote agrée DGAC</p>
        <i>Plus de 400 heures de vol du DJI S1000 et DJI Inspire</>
         <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>



<div class="title text-center">
  <span><i>"Le meilleur de la photo-vidéo aérienne haute définition par drone."</i></span>
</div>













<div class="wrapper-thumb padded">
  <div class="container thumb">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card-figure">
        <figure class="snip1302">
<!--         <%= image_tag "https://unsplash.it/430/320/?random" %>
 -->          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample45.jpg" alt="sample42"/>
          <figcaption>
            <h2>Ecoute de vos besoins.</h2>
          </figcaption>
          <%= link_to "", "/index.html", anchor: "about"%>
        </figure>

        </div>

      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card-figure">
        <figure class="snip1302">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample43.jpg" alt="sample42"/>
          <figcaption>
            <h2>Planification du tournage.</h2>
          </figcaption>
          <%= link_to "", "/index.html", anchor: "materiel"%>
        </figure>
        </div>

      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card-figure">
        <figure class="snip1302">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample44.jpg" alt="sample42"/>
          <figcaption>
            <h2>Montage vidéo et livraison du produit.</h2>
          </figcaption>
          <%= link_to "", "/index.html", anchor: "contact"%>
        </figure>
        </div>
      </div>
    </div>
  </div>
</div>








<div class="banner banner-parallax img-responsive" id="S800">
  <div class="banner-filter"></div>
  <div class="banner-content-parallax text-center">
  <h1>SKYPICTURE</h1>
    <span>Domaines d'applications de nos drones</span>
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3 col-sm-6">
              <i class="fa fa-film" aria-hidden="true"></i>
              <p>Audiovisuel</p>
            </div>
            <div class="col-xs-12 col-md-3 col-sm-6">
              <i class="fa fa-truck" aria-hidden="true"></i>
              <p>BTP</p>
            </div>
             <div class="col-xs-12 col-md-3 col-sm-6">
              <i class="fa fa-plane" aria-hidden="true"></i>
              <p>Viticulture</p>
            </div>
             <div class="col-xs-12 col-md-3 col-sm-6">
              <i class="fa fa-shield" aria-hidden="true"></i>
              <p>Surveillance</p>
            </div>
          </div>
        </div>
        <%= link_to "Nos réalisations", "../page/realisation.html", class: "btn btn-primary"%>
    </div>
  </div>






<div class="wrapper padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">Audiovisuel</div>
          <div class="panel-body">
            <ul>
            <li>Mariage</li>
            <li>Film d'entreprise</li>
            <li>film documentaire</li>
            <li>Reportage</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-warning">
          <div class="panel-heading">BTP</div>
          <div class="panel-body">
             <ul>
            <li>Mariage</li>
            <li>Film d'entreprise</li>
            <li>film documentaire</li>
            <li>Reportage</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-success">
          <div class="panel-heading">Viticulture</div>
          <div class="panel-body">
            <ul>
            <li>Mariage</li>
            <li>Film d'entreprise</li>
            <li>film documentaire</li>
            <li>Reportage</li>
            </ul>          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-danger">
          <div class="panel-heading">Surveillance</div>
          <div class="panel-body">
           <ul>
            <li>Mariage</li>
            <li>Film d'entreprise</li>
            <li>film documentaire</li>
            <li>Reportage</li>
            </ul>          </div>
        </div>
      </div>
    </div>
  </div>
</div>



























<div class="title text-center">
  <span><i>"Un matériel à la pointe..."</i></span>
</div>
<div class="text-center">
  <%= image_tag "logo.jpg"%>
</div>
<div class="feature1" id="materiel">
  <div class="container">
    <p><%= data.materiel.drone.inspire.intro%></p>
    <div class="row text1">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p><%= data.materiel.drone.inspire.camera%></p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <%= image_tag "dji-feature.jpg", class: "img-feature"%>
      </div>
    </div>
    <div class="row text2">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <%= image_tag "camera.jpg", class: "img-feature2"%>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p><%= data.materiel.drone.inspire.nacelle%></p>
        <%= link_to "En savoir plus.", "https://www.youtube.com/watch?v=ZnJcZfsVLAQ", class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>




<div class="banner banner-parallax img-responsive" id="inspire2">
  <div class="banner-filter"></div>
  <div class="banner-content-parallax text-center">
  <h1>SKYPICTURE</h1>
    <span>L'imagerie aérienne réinventée</span>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <i class="fa fa-video-camera" aria-hidden="true"></i>
            <p>4K</p>
          </div>
          <div class="col-xs-12 col-md-4">
            <i class="fa fa-picture-o" aria-hidden="true"></i>
            <p>30 images/seconde</p>
          </div>
           <div class="col-xs-12 col-md-4">
            <i class="fa fa-camera" aria-hidden="true"></i>
            <p>12M pixels</p>
          </div>
        </div>
    </div>
  </div>
</div>









<div class="wrapper-price padded text-center" id="price">
  <div class="container-fluid">
    <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "logo.jpg" %>
      <div class="caption">
        <h3>Forfait photos</h3>
        <h2>250€</h2>
        <p><i class="fa fa-check" aria-hidden="true"></i>Entre 10 et 20 photos</p>
        <p><i class="fa fa-check" aria-hidden="true"></i>Un lieu de décollage</p>
        <p><i class="fa fa-check" aria-hidden="true"></i>Retouche possible (50€)</p>
        <p><i class="fa fa-check" aria-hidden="true"></i>Frais de port offert dans le 13</p>
        <p><a href="#" class="btn btn-primary" role="button">J'y vais !</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "logo.jpg" %>
      <div class="caption">
        <h3>Forfait vidéo demi-journée</h3>
        <h2>A partir de 700€</h2>
        <p><i class="fa fa-check" aria-hidden="true"></i>Un lieu de décollage</p>
        <p><i class="fa fa-check" aria-hidden="true"></i>Format video 1080p ou 4K</p>
        <p><i class="fa fa-check" aria-hidden="true"></i>Pilote + Cadreur professionnel avec drone homologué</p>
        <p><i class="fa fa-check" aria-hidden="true"></i>livraison de rushes brut au format choisis</p>
        <p><i class="fa fa-check" aria-hidden="true"></i>Frais de port offert dans le 13</p>
        <p><a href="#" class="btn btn-primary" role="button">J'y vais !</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "logo.jpg" %>
      <div class="caption">
        <h3>Forfait video à la journée</h3>
        <h2>A partir de 1300€</h2>
        <p><i class="fa fa-check" aria-hidden="true"></i>Un ou plusieurs lieux de décollage</p>
        <p><i class="fa fa-check" aria-hidden="true"></i>Format video 1080p ou 4K</p>
        <p><i class="fa fa-check" aria-hidden="true"></i>Pilote + Cadreur professionnel avec drone homologué</p>
        <p><i class="fa fa-check" aria-hidden="true"></i>livraison de rushes brut au format choisis</p>
        <p><i class="fa fa-check" aria-hidden="true"></i>Frais de port offert dans le 13</p>
        <p><a href="#" class="btn btn-primary" role="button">J'y vais !</a></p>
      </div>
    </div>
    <div class="thumbnail">
    <p>Option montage video (dérushage, étalonnage, colorimétrie, bande son) avec les logiciels professionnels Adobe première et After-effect possible avec un supplément de 400€</p>
  </div>
  <div class="thumbnail">
    <p>Option vidéo au sol avec steadycam DJI-OSMO 4K avec un supplément de 300€</p>
  </div>
  </div>
</div>

  </div>
</div>



















<div class="contact-form padded" id="contact">
    <div class="container">
    <p>Contactez-nous pour un devis gratuit</p>
      <form class="form-horizontal" action="https://formspree.io/contact@skypicture.fr"
            method="POST">
          <div class="form-group">
                  <div class="col-sm-12">
                    <input type="text" class="form-control" name="name" id="inputEmail3" placeholder="Mon nom"" ">
                  </div>
                </div>
              <div class="form-group">

                  <div class="col-xs-12">
                    <input type="text" class="form-control" name="subject" id="inputEmail3" placeholder="Sujet">
                  </div>

                </div>
                <div class="form-group">

                  <div class="col-xs-12">
                    <input type="email" class="form-control" name="email" id="inputEmail3" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">

                  <div class="col-xs-12">
                    <textarea type="text" class="form-control" name="message" id="inputText" rows="10" placeholder="Lieux de tournage, durée du tournage, budget, etc..."></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">Envoyer le mail</button>
                  </div>
                </div>
              </form>

    </div>
</div>


<!-- <div class="vid-container">
  <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
      <source src="http://mazwai.com/system/posts/videos/000/000/109/webm/leif_eliasson--glaciartopp.webm?1410742112" type="video/webm">
  </video>
</div> -->


<%= partial "partial/map" %>
