<div id="mycarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
    <li data-target="#mycarousel" data-slide-to="1"></li>
    <li data-target="#mycarousel" data-slide-to="2"></li>
    <li data-target="#mycarousel" data-slide-to="3"></li>
    <li data-target="#mycarousel" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
 <div class="carousel-inner" role="listbox">
    <div class="item active">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/dji-inspire-1.jpg');">
      <div class="banner-content">
<!--         <%= image_tag "logo-drone.png" %>
 -->     <div class="banner-home">
           <h1>SKYPICTURE</h1>
          <h4 style="margin-top: -20px;">DRONE QUADCOPTER 4K</h4>
        <p>Prise de vue aérienne par drone.</p>
        <p><%= link_to "Demandez un devis", "/index.html", anchor: "contact", class: "btn btn-primary btn-lg" %></p>
        <p>Depuis 2014, nous réalisons des prises de vues pour une production audiovisuelle de qualité.</p>
        </div>

        <div class="container">
        <div class="row fadeRight" style="margin-top: 80px; font-size: 30px;">
          <div class="col-xs-12 col-md-4">
            <i class="fa fa-video-camera" aria-hidden="true"></i>
            <p>Vos images en 4K</p>
          </div>
          <div class="col-xs-12 col-md-4 tag2">
            <i class="fa fa-picture-o" aria-hidden="true"></i>
            <p>Montage vidéo de qualité</p>
          </div>
           <div class="col-xs-12 col-md-4">
            <i class="fa fa-camera" aria-hidden="true"></i>
            <p>Des professionnels expérimentés</p>
          </div>
        </div>
    </div>
      </div>
</div>
    </div>
    <div class="item">
      <%= image_tag "immobilier-drone.jpg" %>
      <div class="carousel-caption">
        <div class="banner-content">
        <div class="titre-banner">
          <h1>PROMOTION IMMOBILIERE</h1>
        </div>
        <p>Villas, Mas, Maison de luxe, etc...</p>
      </div>
      </div>
    </div>
       <div class="item">
      <%= image_tag "suivis-chantier.jpg" %>
      <div class="carousel-caption">
        <div class="banner-content">
        <div class="titre-banner">
          <h1>SUIVIS DE CHANTIER</h1>
        </div>
        <p>Photos aériennes de suisvis de chantier</p>
      </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "mariage.jpeg" %>
      <div class="carousel-caption">
        <div class="banner-content">
        <div class="titre-banner">
          <h1>EVENEMENT ET MARIAGE</h1>
        </div>
        <p>Mariage, lancement de produit, incentive, CE, etc...</p>
      </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "tourisme.jpg" %>
      <div class="carousel-caption">
        <div class="banner-content">
        <div class="titre-banner">
          <h1>TOURISME ET CULTURE</h1>
        </div>
        <p></p>
      </div>
      </div>
    </div>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<!-- <div class="title text-center">
  <%= image_tag "logo.jpg"%>
</div> -->






<div class="wrapper padded hidden-xs" style="margin-top: 100px;">
  <div class="container">
    <div class="row center">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wsWqhU-mLxQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p><i>Film MARIAGE réalisé en septembre 2017 en 2,5K étaloné avec Adobe Première CC 2018</i></p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p class="text-center">Depuis 2014, nous réalisons des prises de vues pour une production audiovisuelle de qualité.</p>
      </div>
    </div>
  </div>
</div>





<!-- <div class="title text-center">
  <span><i>"Un matériel à la pointe..."</i></span>
</div>

<div class="feature1" id="materiel">
  <div class="container">
    <p><%= data.materiel.drone.inspire.intro%></p>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p><%= data.materiel.drone.inspire.camera%></p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <%= image_tag "dji-feature.jpg", class: "img-feature"%>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <%= image_tag "mavic.jpg", class: "img-feature2"%>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p><%= data.materiel.drone.inspire.nacelle%></p>
        <%= link_to "En savoir plus.", "https://www.youtube.com/watch?v=p1d_ptE6yrc", class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div> -->


<div class="wrapper padded text-center">
 <!--  <%= image_tag "mavic.jpg", class: "opacity" %> -->
  <div class="title-feature">
    <h1><strong>NOS DOMAINES D'INTERVENTIONS</strong></h1>
  </div>
  <div class="container text-center">
  <div class="feature-service">
<!--     <%= image_tag "logo-drone.png"%>
 -->  </div>
    <div class="row fadeDown">
     <!--  <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="feature">
        <%= image_tag "reportage.png" %>
          <h2>TOURISME & CULTURE</h2>
          <p>Reportage d'actualité ou nature, nos drones vous donnerons l'essentiel des plans larges en 4K. Une parois rocheuse, un plan d'eau ou une course automobile ne nous font pas peur. Nous intervenons egalement sur des sujets d'actualités tels que des catastrophe naturel, inondations, manifestation, etc...</p>
          <%= link_to 'En savoir plus', "../page/realisation.html", class: "btn btn-default" %>
        </div>
      </div> -->
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="feature">
           <i class="fa fa-home icone-feature"></i>
          <h2>PROMOTION IMMOBILIERE</h2>
          <p>Les vidéos en drone permettent au professionnel de gagner du temps : <i>"Cette nouvelle technologie fait gagner du temps à nos acquéreurs, puisque cela les dispense de poser de nombreuses questions relatives à la description de l’environnement au téléphone"</i> </p>
          <%= link_to 'En savoir plus', "../page/realisation.html", class: "btn btn-default" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="feature">
          <i class="fa fa-film icone-feature"></i>
          <h2>FILM D'ENTREPRISE</h2>
          <p>Les prises de vues aériennes apportent une grande dynamique et un effet grandiose à vos films d'entreprise. Donnez de la hauteur et de la visibilité à votre business.</p>
          <%= link_to 'En savoir plus', "../page/realisation.html", class: "btn btn-default" %>
        </div>
      </div>
    </div>
    <p><div class="row fadeDown">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="feature">
           <i class="fa fa-building icone-feature"></i>
          <h2>SUIVIS DE CHANTIER</h2>
          <p>On ne compte plus les clips tournés à l'aide de drone et de point de vue aériens. Soyez dans la tendance !</p>
          <%= link_to 'En savoir plus', "../page/realisation.html", class: "btn btn-default" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="feature">
          <i class="fa fa-heart icone-feature"></i>
          <h2>MARIAGE & EVENEMENT</h2>
          <p>Skyicture intervient pour la réalisation de prises de vues aériennes par Drone pour votre mariage et votre événement, lancement de produit, incentive, CE, etc...</p>
          <%= link_to 'En savoir plus', "../page/realisation.html", class: "btn btn-default" %>
        </div>
      </div>
    </div></p>
  </div>
</div>



<div class="wrapper-skypicture hidden-xs" id="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6 no-padding image-feature" style="padding: 11px;">
        <<iframe width="560" height="315" src="https://www.youtube.com/embed/htMbW5ju7Gk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
       <div class="col-xs-12 col-md-6 no-padding" style=" color: white;">
        <div class="text-feature">
           <p>"Skypicture est une société de prise de vues aériennes <strong>agrée DGAC</strong> basée en Provence, mettant en oeuvre des DRONES dernières générations. Nous intervenons dans les secteurs de <strong>l'immobilier, du bâtiment, de l'événementiel, du film institutionnel.</strong>"
          </p>
        </div>
         <%= image_tag "moi.jpg", class: "avatar-large"%>
        <p>Télépilote et cadreur professionnel</p>
        <i>"J'aime cadrer, monter et faire de belles images"</i>
         <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- <div class="wrapper-photo text-center" style="background:#F5F5F5; padding: 110px 26px;">
<div class="title-feature">
  <h1><strong>NOTRE EQUIPE</strong></h1>
</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "moi.jpg", class: "avatar-xxl"%>
        <p>Cadreur professionnel</p>
        <i>"J'aime cadrer, monter et faire de belles images"</i>
         <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "chris.jpg", class: "avatar-xxl"%>
        <p>Pilote agrée DGAC</p>
        <i>Plus de 400 heures de vol du DJI S1000 et DJI Inspire</>
         <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div> -->







<div class="banner banner-parallax img-responsive" id="wedding">
  <div class="banner-filter"></div>
  <div class="banner-content-parallax text-center fadeLeftLong">
  <h1>SKYPICTURE</h1>
    <span>Une qualité d'image exceptionnel</span>
      <div class="container">
        <div class="row" style="margin-top: 80px; font-size: 40px;">
          <div class="col-xs-12 col-md-4">
            <i class="fa fa-video-camera" aria-hidden="true"></i>
            <p>4K</p>
          </div>
          <div class="col-xs-12 col-md-4">
            <i class="fa fa-picture-o" aria-hidden="true"></i>
            <p>30 images/seconde</p>
          </div>
           <div class="col-xs-12 col-md-4">
            <i class="fa fa-camera" aria-hidden="true"></i>
            <p>12M pixels</p>
          </div>
        </div>
        <!-- <div class="row" style="margin-top: 80px; font-size: 40px;">
          <div class="col-xs-12 col-md-4">
            <i class="fa fa-arrows-alt-h"></i>
            <p>Vol longue distance</p>
          </div>
          <div class="col-xs-12 col-md-4">
            <i class="fa fa-history"></i>
            <p>26 mn d'autonomie</p>
          </div>
           <div class="col-xs-12 col-md-4">
            <i class="fa fa-camera" aria-hidden="true"></i>
            <p>Camera stabilisée</p>
          </div>
        </div> -->
    </div>
  </div>
</div>






<!-- <div class="banner banner-parallax img-responsive" id="S800">
  <div class="banner-filter"></div>
  <div class="banner-content-parallax text-center">
  <h1>SKYPICTURE</h1>
    <span>Domaines d'applications de nos drones</span>
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3 col-sm-6">
              <i class="fa fa-film" aria-hidden="true"></i>
              <p>Audiovisuel</p>
            </div>
            <div class="col-xs-12 col-md-3 col-sm-6">
              <i class="fa fa-truck" aria-hidden="true"></i>
              <p>BTP</p>
            </div>
             <div class="col-xs-12 col-md-3 col-sm-6">
              <i class="fa fa-plane" aria-hidden="true"></i>
              <p>Viticulture</p>
            </div>
             <div class="col-xs-12 col-md-3 col-sm-6">
              <i class="fa fa-shield" aria-hidden="true"></i>
              <p>Surveillance</p>
            </div>
          </div>
        </div>
        <%= link_to "Nos réalisations", "../page/realisation.html", class: "btn btn-primary"%>
    </div>
  </div> -->




<div class="wrapper-price padded text-center" id="price" style="margin-top: -200px;">
  <div class="container-fluid">
    <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "mavic.jpg", class: "img-feature2"%>
      <div class="caption">
        <h3>Forfait photos</h3>
        <h2>150€</h2>
        <p><i class="fa fa-check" aria-hidden="true"></i>Entre 10 et 20 photos</p>
        <p><i class="fa fa-check" aria-hidden="true"></i>Un lieu de décollage</p>
        <p><i class="fa fa-check" aria-hidden="true"></i>Retouche possible (50€)</p>
        <p><%= link_to "J'y vais", "/index.html", anchor: "contact", class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "mavic.jpg", class: "img-feature2"%>
      <div class="caption">
        <h3>Forfait vidéo demi-journée</h3>
        <h2>A partir de 550€</h2>
        <p><i class="fa fa-check" aria-hidden="true"></i>Un lieu de décollage</p>
        <p><i class="fa fa-check" aria-hidden="true"></i>Format video 1080p ou 4K</p>
        <p><i class="fa fa-check" aria-hidden="true"></i>Pilote + Cadreur professionnel avec drone homologué</p>
        <p><i class="fa fa-check" aria-hidden="true"></i>Livraison de rushes brut au format choisis</p>
        <p><%= link_to "J'y vais", "/index.html", anchor: "contact", class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "mavic.jpg", class: "img-feature2"%>
      <div class="caption">
        <h3>Forfait video à la journée</h3>
        <h2>A partir de 900€</h2>
        <p><i class="fa fa-check" aria-hidden="true"></i>Un ou plusieurs lieux de décollage</p>
        <p><i class="fa fa-check" aria-hidden="true"></i>Format video 1080p ou 4K</p>
        <p><i class="fa fa-check" aria-hidden="true"></i>Pilote + Cadreur professionnel avec drone homologué</p>
        <p><i class="fa fa-check" aria-hidden="true"></i>Livraison de rushes brut au format choisis</p>
        <p><%= link_to "J'y vais !", "/index.html", anchor: "contact", class: "btn btn-primary" %></p>
      </div>
    </div>
    <div class="thumbnail">
    <p>Option montage video (dérushage, étalonnage, colorimétrie, bande son) avec les logiciels professionnels Adobe première et After-effect possible avec un supplément de 400€</p>
  </div>
  <div class="thumbnail">
    <p>Option vidéo au sol avec steadycam DJI-OSMO 4K avec un supplément de 300€</p>
  </div>
  </div>
</div>

  </div>
</div>







<div class="contact-form padded" id="contact">
    <div class="container">
    <p>Contactez-nous pour un devis gratuit</p>
      <form class="form-horizontal" action="https://formkeep.com/f/391e9878d21a"
            method="POST">
          <div class="form-group">
                  <div class="col-sm-12">
                    <input type="text" class="form-control" name="name" id="inputEmail3" placeholder="Mon nom"" ">
                  </div>
                </div>
              <div class="form-group">

                  <div class="col-xs-12">
                    <input type="text" class="form-control" name="subject" id="inputEmail3" placeholder="Sujet">
                  </div>

                </div>
                <div class="form-group">

                  <div class="col-xs-12">
                    <input type="email" class="form-control" name="email" id="inputEmail3" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">

                  <div class="col-xs-12">
                    <textarea type="text" class="form-control" name="message" id="inputText" rows="10" placeholder="Lieux de tournage, durée du tournage, budget, etc..."></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">ENVOYER</button>
                  </div>
                </div>
              </form>

    </div>
</div>













<!-- <div class="contact-form padded" id="contact">
    <div class="container">
    <p>Contactez-nous pour un devis gratuit</p>
      <form class="form-horizontal" action="https://formspree.io/contact@skypicture.fr"
            method="POST">
          <div class="form-group">
                  <div class="col-sm-12">
                    <input type="text" class="form-control" name="name" id="inputEmail3" placeholder="Mon nom"" ">
                  </div>
                </div>
              <div class="form-group">

                  <div class="col-xs-12">
                    <input type="text" class="form-control" name="subject" id="inputEmail3" placeholder="Sujet">
                  </div>

                </div>
                <div class="form-group">

                  <div class="col-xs-12">
                    <input type="email" class="form-control" name="email" id="inputEmail3" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">

                  <div class="col-xs-12">
                    <textarea type="text" class="form-control" name="message" id="inputText" rows="10" placeholder="Lieux de tournage, durée du tournage, budget, etc..."></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">ENVOYER</button>
                  </div>
                </div>
              </form>

    </div>
</div> -->


<%= partial "partial/map" %>
